<div class="w-full">
  <div id="<%= dom_id product %>">
  <% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 font-medium rounded-lg inline-block" id="notice">
  <%= notice %> </p>
  <% end %>
  </div>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
              <h2 class="text-gray-900 title-font text-lg font-medium"><%= product.title %></h2>
              <p class="mt-1"><%= number_to_currency(product.price, :unit => "£") %></p>
              <div class="py-2 w-full">
                <%= link_to "Show product", product, class:" rounded-xl bg-green-500 p-2 text-white" %>
                <%= link_to "Edit product", edit_product_path(product), class:"rounded-xl bg-green-500 p-2" %>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
